<div class="cover-info">
    <% if isbn != "N/A" %>
        <img class="book-img <%= size %>" src="http://covers.openlibrary.org/b/isbn/<%= isbn %>-<%= size %>.jpg"><br>
        <small class="api-source">
            Image provided courtesy of openlibrary<a href="http://openlibrary.org/isbn/<%= isbn %>" target="_blank"><br>click here</a> to view their page of this book
        </small>
    <% else %>
        <img class="book-img" src="/images/default-cover-<%= size %>.jpg">
    <% end %>
</div>