<h2><%= @book.title %></h2>
<%= erb :'partials/cover_info', :locals=> { isbn: @book.isbn ? @book.isbn : "N/A", size: "L" } %><br>

<%= erb :'partials/favorite_button', :locals => { user: @user, book: @book } %>

<% @display_info.each do |k,v| %>
    <h3 class="book_<%= k %>"><%= Helpers.displayable_version(k) %>:</h3><br>
    <% if k == "info_link" %>
        <a href="<%= v %>">Google Page</a>
    <% else %>
        <p class="book_<%= k %>_content"><%= v %></p>
    <% end %>
<% end %>

<link rel="stylesheet" href="/stylesheets/book/info-page.css" />
