<h2><%= @book.title %></h2>
<% if @book.isbn %>
    <div id="cover-info">
        <img src="http://covers.openlibrary.org/b/isbn/<%= @book.isbn %>-L.jpg"><br>
        <small>
            Image provided courtesy of openlibrary<a href="http://openlibrary.org/isbn/<%= @book.isbn %>" target="_blank"><br>click here</a> to view their page of this book
        </small>
    </div>
<% end %>

<%= erb :'partials/favorite_button', :locals => { user: @user, book: @book } %>

<% @display_info.each do |k,v| %>
    <h3 class="book_<%= k %>"><%= Helpers.displayable_version(k) %>:</h3><br>
    <p class="book_<%= k %>_content"><%= v %></p>
<% end %>

<link rel="stylesheet" href="/stylesheets/book/info-page.css" />
